<div class="bg-black w-[80vw] h-[94vh] text-white font-mono">
  <div>
    <div class="flex justify-between items-center p-2">
      <h2 class="text-2xl font-black">Note name</h2>
      <ul class="flex flex-row gap-2">
        <li class="border-2 border-white rounded-md px-2">tag 1</li>
        <li class="border-2 border-white rounded-md px-2">tag 2</li>
        <li class="border-2 border-white rounded-md px-2">tag 3</li>
      </ul>
    </div>
    
    <quill-editor [(ngModel)]="noteContent" [modules]="quillModules" class="w-full h-[80vh]"></quill-editor>
  </div>
</div>
